.main {
    -fx-background-color: transparent;
}

.header {
    -fx-font-family: Nevis;
    -fx-font-size: 20px;
    -fx-text-fill: #492811;
}

.history-header {
    -fx-border-image-source: url('../img/ui/light-header.png');
    -fx-border-image-slice: 188px 353px 0 351px fill;
    -fx-border-image-width: 75px 141px 0 141px;
}

.history-pane {
    -fx-border-image-source: url('../img/ui/light-pane.png');
    -fx-border-image-slice: 248px 292px 224px 261px fill;
    -fx-border-image-width: 124px 146px 112px 130px;
}

.scroll, .scroll .viewport {
    -fx-background-color: transparent;
}

.collapse-button {
    -fx-background-color: transparent;
    -fx-background-image: url('../img/ui/collapse-button.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.collapse-button:hover {
    -fx-opacity: .75;
}

.log-text {
    -fx-font-family: "Work Sans";
    -fx-font-size: 16px;
}

.primary {
    -fx-text-fill: #007bff;
}

.secondary {
    -fx-text-fill: #4d535a;
}

.success {
    -fx-text-fill: #28a745;
}

.danger {
    -fx-text-fill: #dc3545;
}

.warning {
    -fx-text-fill: #ffc107;
}

.info {
    -fx-text-fill: #17a2b8;
}

.bold {
    -fx-font-weight: bold;
}