.next-button {
    -fx-background-color: transparent;
    -fx-border-image-source: url('../img/ui/button.png');
    -fx-border-image-slice: 80px fill;
    -fx-border-image-width: 28px;
    -fx-text-fill: white;
    -fx-font-family: Nevis;
    -fx-font-size: 28px;
    -fx-padding: 0;
}

.next-button:hover {
    -fx-opacity: .9;
}

.next-button:pressed {
    -fx-opacity: .75;
}