.scroll, .scroll .viewport {
    -track-background: #333;
    -track-color: #222;
    -fx-background-color: transparent;
}

.scroll .scroll-bar {
    -fx-background-color: -track-background;
    -fx-background-insets: 0;
}

.scroll .track {
    -fx-background-color: -track-color;
    /*-fx-borde*/
    -fx-border-color: -track-background;
    -fx-border-width: 2px 1px;
}

.scroll .scroll-bar .increment-button, .scroll .scroll-bar .decrement-button {
    -fx-effect: none;
    -fx-padding: .25em;
}
.scroll .scroll-bar .increment-arrow, .scroll .scroll-bar .decrement-arrow {
    -fx-effect: none;
}