.main {
    -fx-border-image-source: url('../img/ui/player-pane.png');
    -fx-border-image-slice: 247px 190px 0px 190px fill;
    -fx-border-image-width: 82px 63px 0px 63px;
}

.name {
    -fx-font-family: Nevis;
    -fx-font-size: 22px;
    -fx-text-fill: #492811;
}

.current {
    -fx-border-color: #ffdf22;
    -fx-border-width: 2px;
}

.targeted {
    -fx-border-color: #ff3333;
    -fx-border-width: 2px;
}

.available {
    -fx-border-color: #11ff80;
    -fx-border-width: 2px;
}